body{
    background-color: #040814;
}

/*inicio css del header */

.navbar {
    background-color: #152440;

    width: 100%;
}

.navbar-light,
.navbar-toggler {
    background-color: #152440;
    border-color: rgba(255, 255, 255, 0.85);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.sn-txt {
    color: #121f35;
}

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url(../assets/backdrop.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.pelicula-principal .contenedor {
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.pelicula-principal .boton {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

.pelicula-principal .boton:hover {
    background: #fff;
    color: #000;
}

.pelicula-principal .boton i {
    margin-right: 1.25em;
}

/* fin css del header */
.contenedor-titulo-controles {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-titulo-controles h3 {
    color: #fff;
    font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
    background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
    margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
    display: flex;
    align-items: center;
    position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
    background: rgba(0, 0, 0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
    left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
    right: 0;
}

/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
    margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
    display: flex;
    align-items: center;
    position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
    background: rgba(0, 0, 0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
    left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
    right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
    display: flex;
    flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
    transform: scale(1.2);
    transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
    width: 100%;
    vertical-align: top;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
    header .logotipo {
        margin-bottom: 10px;
        font-size: 30px;
    }

    header .contenedor {
        flex-direction: column;
        text-align: center;
    }

    .pelicula-principal {
        font-size: 14px;
    }

    .pelicula-principal .descripcion {
        max-width: 100%;
    }

    .peliculas-recomendadas .contenedor-carousel {
        overflow: visible;
    }

    .peliculas-recomendadas .contenedor-carousel .carousel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .peliculas-recomendadas .indicadores,
    .peliculas-recomendadas .flecha-izquierda,
    .peliculas-recomendadas .flecha-derecha {
        display: none;
    }
}
/*inicio css de peliculas sugeridas */
.carousel-control-prev, .carousel-control-next{
    width: 130px;
    z-index: 1;
}

.img-fondo-sugeridas{
    height: 100vh ;
    object-fit: cover;
}

.titulo-pelis-sugeridas{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1.5px;
    position: relative;
    top: 20px;
}

.cont-img-carrusel-sugeridas{
    width: 300px;
    height: 380px;
}

.carrusel-pelis-sugeridas{
    margin-top: 90px;
}

.img-carrusel-sugeridas{
    width: 100%;
}

@media (max-width: 1399.98px) {
    .cont-img-carrusel-sugeridas{
        width: 290px;
        height: 370px;
    }
    .cuarto-cont-img-carrusel{
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .cont-img-carrusel-sugeridas{
        width: 260px;
        height: 340px; 
    }
}

@media (max-width: 991.98px) {
    .cont-img-carrusel-sugeridas{
        width: 210px;
        height: 290px;
    }
    .img-fondo-sugeridas{
        height: 75vh ;
    }
    .titulo-pelis-sugeridas{
        font-size: 34px;
    }
}

@media (max-width: 767.98px) {
    .img-fondo-sugeridas{
        height: 62vh;
    }
    .tercer-cont-img-carrusel{
        display: none;
    }
    .titulo-pelis-sugeridas{
        font-size: 28px;
    }
}

@media (max-width: 575.98px) {
    .img-fondo-sugeridas{
        height: 45vh ;
    }
    .titulo-pelis-sugeridas{
        font-size: 19px;
    }
    .segundo-cont-img-carrusel{
        display: none;
    }
    .cont-img-carrusel-sugeridas{
        width: 180px;
        height: 260px; 
    }
    .carrusel-pelis-sugeridas{
        margin-top: 0px;
    }
}

@media (max-width: 412px) {
    .img-fondo-sugeridas{
        height: 32vh ;
    }
    .titulo-pelis-sugeridas{
        font-size: 15px;
        top: -10px;
    }
    .carrusel-pelis-sugeridas{
        margin-top: -50px;
    }
    .cont-img-carrusel-sugeridas{
        width: 160px;
        height: 160px; 
    }
}

/*fin css de peliculas sugeridas */

.intermedio{
    background-color: black;
    width: 100%;
    height: 28px;
}


.span-id-agregarpelicula{
    border: solid 1px black;
    width: 100%;
    height: 100%;
}
/* Login */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


form img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

form input[type="text"],
input[type="password"] {
    outline: 0;
    border: 1px solid #ccc;
    width: 80%;
    padding: 10px;

}

form label {
    font-weight: 500;
    padding: 10px;

}

.box-visible {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Username {
    color: black;
}

form button {
    outline: 0;
    border: 0;
    background-color: royalblue;
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    padding: 5px;
    transition: all, 3s ease-in-out;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

form button:hover {
    opacity: .75;
}

.modalLogin {
    width: 300px;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
}

.botonXModal {
    display: flex;
    justify-content: end !important;
}
/* Comienza el Footer */
.logo1 {
    width: 180px;
    height: 70px;
}

.logo2 {
    width: 30px;
    height: 30px;
}

.logo3 {
    width: 30px;
    height: 30px;
}

.logo4 {
    width: 30px;
    height: 30px;
}

.parrafo1 {
    font-size: 20px;
    color: white;
}

.parrafo2 {
    font-size: 20px;
    color: white;
}

.footer1 {
    background-color: #152440 !important;
    padding-top: 1vh;
    
}

.footer-logo-centro {
    justify-content: center !important;
}

.redes-sociales {
    margin-bottom: 2vh;
}
/* Termina Footer */

.div-img-error404{
    height: 600px;
}