.boton-agregar-peliculas{
    margin: 20px;
    padding: 10px 50px 10px 50px;
    font-size: large;
}

footer .container-fluid{
    background-color: #212529 !important;
    margin-top: 221px;
}
/* .NombreTabla{
    display: flex;
    justify-content: space-between;
} */
.tabla{
    display: inline;
}