body{
    background-color: #040814;
}

/*inicio css del header */

.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
    box-shadow: 0px 3px 3px 0px #36b2f07d;
}

.h1-principal{
    margin-top: 45px;
    font-weight: 800;
    font-size: 55px;
}

.texto-video-principal{
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1.5px;
}

@media (max-width: 1199.98px) {
    .h1-principal{
        font-size: 45px;
    }
    .texto-video-principal{
        font-size: 22px;
    }
}

@media (max-width: 991.98px) {
    .h1-principal{
        font-size: 37px;
    }
    .texto-video-principal{
        font-size: 18px;
    }
    .video-principal2{
        height: 76vh;
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 767.98px) {
    .h1-principal{
        font-size: 28px;
    }
    .texto-video-principal{
        font-size: 15px;
    }
    .video-principal2{
        height: 76vh;
        width: 100%;
    }
    .btn-susc-video-principal{
        font-size: 15px;
        font-weight: 600;
    }
}

@media (max-width: 575.98px) {
    .h1-principal{
        font-size: 21px;
    }
    .texto-video-principal{
        font-size: 13px;
        letter-spacing: 0.3px;
    }
    .video-principal2{
        height: 60vh;
        width: 100%;
    }
    .btn-susc-video-principal{
        font-size: 12px;
        font-weight: 700;
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 412px) {
    .h1-principal{
        font-size: 16px;
    }
    .texto-video-principal{
        font-size: 10px;
        position: relative;
        bottom: 20px;
    }
    .video-principal2{
        height: 45vh;
        width: 100%;
    }
    .btn-susc-video-principal{
        font-size: 10px;
        font-weight: 900;
        padding: 13px 12px 13px 12px !important;
        position: relative;
        bottom: 33px;
    }

}

/* fin css del header */

/*inicio css de peliculas sugeridas */
.carousel-control-prev, .carousel-control-next{
    width: 130px;
    z-index: 1;
}

.img-fondo-sugeridas{
    height: 100vh ;
    object-fit: cover;
}

.titulo-pelis-sugeridas{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1.5px;
    position: relative;
    top: 20px;
}

.cont-img-carrusel-sugeridas{
    width: 300px;
    height: 380px;
}

.carrusel-pelis-sugeridas{
    margin-top: 90px;
}

.img-carrusel-sugeridas{
    width: 100%;
}

@media (max-width: 1399.98px) {
    .cont-img-carrusel-sugeridas{
        width: 290px;
        height: 370px;
    }
    .cuarto-cont-img-carrusel{
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .cont-img-carrusel-sugeridas{
        width: 260px;
        height: 340px; 
    }
}

@media (max-width: 991.98px) {
    .cont-img-carrusel-sugeridas{
        width: 210px;
        height: 290px;
    }
    .img-fondo-sugeridas{
        height: 75vh ;
    }
    .titulo-pelis-sugeridas{
        font-size: 34px;
    }
}

@media (max-width: 767.98px) {
    .img-fondo-sugeridas{
        height: 62vh;
    }
    .tercer-cont-img-carrusel{
        display: none;
    }
    .titulo-pelis-sugeridas{
        font-size: 28px;
    }
}

@media (max-width: 575.98px) {
    .img-fondo-sugeridas{
        height: 45vh ;
    }
    .titulo-pelis-sugeridas{
        font-size: 19px;
    }
    .segundo-cont-img-carrusel{
        display: none;
    }
    .cont-img-carrusel-sugeridas{
        width: 180px;
        height: 260px; 
    }
    .carrusel-pelis-sugeridas{
        margin-top: 0px;
    }
}

@media (max-width: 412px) {
    .img-fondo-sugeridas{
        height: 32vh ;
    }
    .titulo-pelis-sugeridas{
        font-size: 15px;
        top: -10px;
    }
    .carrusel-pelis-sugeridas{
        margin-top: -50px;
    }
    .cont-img-carrusel-sugeridas{
        width: 160px;
        height: 160px; 
    }
}

/*fin css de peliculas sugeridas */

.intermedio{
    background-color: black;
    width: 100%;
    height: 28px;
}

/*inicio css de banner suscripciones */

.banner-suscripciones{
    margin-top: 60px;
}

.titulo-suscripciones{
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1.5px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    /* width: 50%; */
    margin: auto;
}

.texto-suscripciones{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.img-fondo-suscripciones{
    object-fit: cover;
    height: 90vh;
}

@media (max-width: 1199.98px) {
    .titulo-suscripciones{
        font-size: 50px;
    }
    .texto-suscripciones{
        font-size: 22px;
    }
    .btn-susc{
        font-size: 16px;
        padding: 0 10px 0 10px;
    }
    .img-fondo-suscripciones{
        height: 80vh;
    }
    .texto-inferior-suscripciones{
        font-size: 12px;
    }
}

@media (max-width: 991.98px) {
    .img-fondo-suscripciones{
        height: 75vh;
    }
}

@media (max-width: 767.98px) {
    .titulo-suscripciones{
        font-size: 40px;
    }
    .img-fondo-suscripciones{
        height: 70vh;
    }
    .texto-suscripciones{
        font-size: 20px;
    }
    .btn-susc{
        font-size: 12px;
        position: relative;
        bottom: 20px;
    }
}

@media (max-width: 575.98px) {
    .titulo-suscripciones{
        font-size: 28px;
        width: 68%;
    }
    .texto-suscripciones{
        font-size: 14px;
    }
    .btn-susc{
        font-size: 12px;
    }
    .img-fondo-suscripciones{
        height: 50vh;
    }
    .texto-inferior-suscripciones{
        font-size: 9px;
        position: relative;
        bottom: 10px;
    }
    .banner-suscripciones{
        margin-top: 10px;
    }
}

@media (max-width: 412px) {
    .titulo-suscripciones{
        font-size: 20px;
        width: 70%;
    }
    .texto-suscripciones{
        font-size: 12px;
    }
    .btn-susc{
        font-size: 10px;
        padding: 3% !important;
        bottom: 32px;
    }
    .img-fondo-suscripciones{
        height: 45vh;
    }
    .texto-inferior-suscripciones{
        bottom: 35px;
    }
}

/* fin css de banner suscripciones */

/* inicio css categorias */

.titulo-categorias{
    margin-top: 45px;
    font-weight: 700;
    font-size: 50px;
}

.img-fondo-categorias{
    object-fit: cover;
    height: 95vh;
}

.btn-categoria{
    border: solid 1px #36b2f0;
}

.galeria-categorias{
    display: flex;
    justify-content: space-evenly;
}

.contenedor-categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-categoria{
    width: 100%;
}

@media (max-width: 1199.98px) {
    .img-fondo-categorias{
        height: 85vh;
    }
    .titulo-categorias{
        font-size: 45px;
    }
}

@media (max-width: 991.98px) {
    .img-fondo-categorias{
        height: 130vh;
        object-position: 67%;
    }
    .titulo-categorias{
        font-size: 38px;
    }
}

@media (max-width: 767.98px) {
    .titulo-categorias{
        font-size: 32px;
    }
    .btn-categoria{
        font-size: 15px;
    }
    .contenedor-categoria{
        width: 45%;
    }
}

@media (max-width: 575.98px) {
    .contenedor-categoria{
        width: 40%;
    }
    .btn-categoria{
        font-size: 13px;
    }
    .titulo-categorias{
        font-size: 28px;
    }
    .img-fondo-categorias{
        height: 110vh;
        object-position: 70%;
    }
}

@media (max-width: 412px) {
    .contenedor-categoria{
        width: 45%;
    }
    .btn-categoria{
        font-size: 9px;
        font-weight: 700;
    }
    .titulo-categorias{
        font-size: 21px;
    }
    .img-fondo-categorias{
        height: 90vh;
    }
}

/* fin css categorias */